footer
  .container.text-center
    p.pull-left © 2016 Easymega, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http//www.google.se') easystädtant.se
      li
        a(href='http://www.google.se') easymålare.se
